@import url("https://fonts.googleapis.com/css2?family=Nerko+One&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nerko One", cursive;
}

body {
  height: 100vh;
  background: url("../src/Assets/bg-image.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.text-shy {
  color: #6c5ce7;
}
.text-heli {
  color: #f9ca24;
}

.text-bluee {
  color: #686de0;
}
.big-font {
  font-size: 3.5rem !important;
}

.react-icons {
  color: #ff7675;
  font-size: 1.5rem;
  margin: 10px 5px;
  transition: all 0.5s;
}

.react-icons:hover {
  color: #333;
}

.lottie-box {
  width: 350px;
  height: 350px;
}

.logo {
  width: 35px;
  height: 35px;
}

@media only screen and (max-width: 1024px) {
  .lottie-box {
    width: 300px;
    height: 300px;
  }
  .big-font {
    font-size: 2.5rem !important;
  }
}

@media only screen and (max-width: 425px) {
  .lottie-box {
    width: 250px;
    height: 250px;
  }
  .big-font {
    font-size: 1.8rem !important;
  }
}
